/* ------------------------tipos de selectores------------------------- */

h2 {
  color: red;
}

.h2-class {
  color: blue;
}

p {
  color: black;
}

#id-especifica {
  color: darkgreen;
}

button:hover {
  color: blue;
}

[select="select"]:hover {
  color: red;
}

/* ------------------------tipos de fuente y medidas------------------------- */

.contact-form {
  font-size: 20px;
}

.contact-form__h2 {
  font-size: 5em;
  font-family: "Franklin Gothic Medium", "Arial Narrow";
}

.box-class {
  background-color: black;
  color: white;
  width: 50vw;
  height: 100vh;
}
